*{
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;
    font-family: 'Newsreader', serif;
}
.container{
    width: 60%;
    margin: 0 auto;
}
nav{
    background-color: #ffff;
}
.nav-container{
    display: flex;
    padding: 20px;
}
.brand-logo{
    width: 200px;
}
.nav-items{
    margin-left: auto;
}
.nav-items ul{
    display: flex;
}
.nav-items a{
    text-decoration: none;
}
.nav-items li .brand-logo{
    margin-bottom: 20px;
}