*{
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;
    font-family: 'Newsreader', serif;
}
.container{
    width: 60%;
    margin: 0 auto;
}

.container h1{
    font-size: 36px;
    color: #a35709;
    font-weight: 600;
}

p{
    font-size: 16px;
    line-height: 1.4;
}

nav{
    background-color: #ffff;
}
.nav-container{
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.brand-logo{
    width: 200px;
}
.nav-items{
    margin-left: auto;
}
.nav-items ul{
    display: flex;
}
.nav-items li{
    margin-left: 30px;
    padding: 10px;
}
.nav-items a{
    text-decoration: none;
    color: #a35709;
    font-size: 18px;
}
.nav-items li:hover{
    border-bottom: solid 5px #ff8303;
}
.nav-items li .brand-logo{
    margin-bottom: 20px;
}
.active{
    border-bottom: solid 5px #ff8303;
}
/*footer*/

hr.footer {
    border-top: 1px solid #ff8303;
  }
  .icons span{
      margin-right: 20px;
  }

  .icons i{
      font-size: 30px;
      color: #a35709;
  }
/*main*/
main{
    padding: 50px 0;
    }
hr.home{
    margin: 20px 0;
}
.blog-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}
.blog-cards a{
    text-decoration: none;
}
.blog-card-item{
    width: 100%;
    overflow: hidden;
    background-color: bisque;
}
.blog-image{
    width: 100%;
    height: 300px;
    max-height: 300px;
}
.blog-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card-tag-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.card-tag{
    padding: 10px;
    background-color: #a35709;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-top: -17px;
}
.card-contents{
    padding: 20px;
    color: #a35709;
}
.card-contents h3{
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.small{
    font-size: 14px;
}
.small i{
    font-size: 6px;
}
