*{
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;
    font-family: 'Newsreader', serif;
}
.container{
    width: 60%;
    margin: 0 auto;
}

.container h1{
    font-size: 36px;
    color: #a35709;
    font-weight: 600;
}

p{
    font-size: 16px;
    line-height: 1.4;
}

nav{
    background-color: #ffff;
}
.nav-container{
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.brand-logo{
    width: 200px;
}
.nav-items{
    margin-left: auto;
}
.nav-items ul{
    display: flex;
}
.nav-items li{
    margin-left: 30px;
    padding: 10px;
}
.nav-items a{
    text-decoration: none;color: #a35709;
    font-size: 18px;
}
.nav-items li:hover{
    border-bottom: solid 5px #ff8303;
}
.nav-items li .brand-logo{
    margin-bottom: 20px;
}
.active{
    border-bottom: solid 5px #ff8303;
}
/*footer*/

hr.footer {
    border-top: 1px solid #ff8303;
  }
  .icons span{
      margin-right: 20px;
  }

  .icons i{
      font-size: 30px;
      color: #a35709;
  }
/*main*/
main{
    padding: 50px 0;
    }
hr.home{
    margin: 20px 0;
}